*
    box-sizing: border-box
body
    font-family: "Gadugi", sans-serif
    overflow-x: hidden
.container
    max-width: 1156px
    margin: auto
    width: 90%
img 
    max-width: 100%
.text
    font-weight: normal
    font-size: 16px
    line-height: 130%